PORT=5000;

MONGO_URI =mongodb://localhost:27017/shopnest-mern;
jWT_SECRET =your_jwt_secret_key_ahfsklfkslkslkjsk

EMAIL_USER=gmail@gmail.com
EMAIL_PASS=16DigitPassword

CLOUDINARY_CLOUD_NAME =signup_data
CLOUDINARY_API_KEY =signup_data
CLOUDINARY_API_SECRET =signup_data